.intro-subhead{
  margin-bottom: 30px;
}
.intro{
  text-align: center;
}
.dashboard-favorites{
  padding-top: 0;
}
.dashboard-favorites h2{
  text-align: center;
}
.dashboard-favorites img{
  width: 300px;
}
.dashboard-favorites .empty{
  text-align: center;
}
.modal-open{
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  z-index: 1;
}

@media(min-width: 768px){
  .add-coin-btn{
    display: none;
  }
}