.intro-subhead{
  margin-bottom: 30px;
}
.intro{
  text-align: center;
}
.dashboard-favorites img{
  width: 300px;
}
.dashboard-favorites .empty{
  text-align: center;
}
.modal-open{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
}