.apexcharts-xaxis,.apexcharts-toolbar{
  display: none!important;
}
.btn-group{
  text-align: center;
}
.btn-group button{
  border-radius: 0;
  background-color: #fff;
  color: #23697a;
  border: 1px solid #23697a;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.25s ease-in-out;
}
.btn-group button:first-of-type{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.btn-group button:last-of-type{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.btn-group button.active{
  background-color: #23697a;
  color: #FFF;
  outline: 0;
}
.btn-group button:hover{
  background-color: #23697a;
  color: #FFF;
}

@media(max-width: 375px){
  .btn-group button{
    padding: 10px 12px;
    font-size: 14px;
  }
}